REACT_APP_API_URL=http://localhost:8081/api
REACT_APP_API_URL_MOBILE=http://192.168.1.91:8081/api
REACT_APP_API_URL_MOBILE_FALLBACK=http://192.168.106.25:8081/api
REACT_APP_LOCAL_IP=192.168.1.91
REACT_APP_LOCAL_IP_FALLBACK=192.168.106.25

REACT_APP_FIREBASE_API_KEY=AIzaSyAvD3orIAsVuRf-bu9S-i-8iqO_x9l5LMY
REACT_APP_FIREBASE_AUTH_DOMAIN=finsight-ai-12430.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=finsight-ai-12430
REACT_APP_FIREBASE_STORAGE_BUCKET=finsight-ai-12430.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=279233194761
REACT_APP_FIREBASE_APP_ID=1:279233194761:web:15d176e3fbe26db24581d8
REACT_APP_FIREBASE_MEASUREMENT_ID=G-C1XCHPW8W5

REACT_APP_GRADIENT_AI_API_KEY=W3NMm2kJPbT406AkRBUyWYJ5YQwDzA7S
REACT_APP_BLOCKCHAIR_API_KEY=YOUR_BLOCKCHAIR_API_KEY_HERE
